/* --- CSS DASAR --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial Black", sans-serif;
}
body {
  background-color: #0f1923;
  color: white;
}

/* --- CSS NAVBAR & DROPDOWN --- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #111;
  border-bottom: 2px solid #2b2b2b;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
.logo {
  font-size: 24px;
  color: #ff4655;
}
.btn-main {
  background-color: #ff4655;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

/* Fokus Dropdown Info Game */
.dropdown {
  position: relative;
  cursor: pointer;
  padding: 10px 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #111;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  border: 1px solid #2b2b2b;
  border-radius: 4px;
  flex-direction: column;
}
.dropdown.active .dropdown-content {
  display: flex;
}
.menu-btn {
  background: transparent;
  color: white;
  border: none;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #2b2b2b;
  width: 100%;
}
.menu-btn:hover {
  background-color: #ff4655;
}
.menu-btn:last-child {
  border-bottom: none;
}
a {
  text-decoration: none;
}

/* --- CSS KONTEN HALAMAN --- */
.title {
  font-size: 50px;
  padding: 50px;
  letter-spacing: 5px;
  text-align: center;
}
.content-section {
  display: none; /* Disembunyikan secara default */
  padding: 0 50px 100px 50px;
  text-align: center;
  font-family: Arial, sans-serif;
}
.content-section.active {
  display: block; /* Ditampilkan saat aktif */
}

main {
  background-image: url("/assets/valorant logo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
