/* --- CSS DASAR --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial Black", sans-serif;
}
body {
  background-color: #0f1923;
  color: white;
}

.title {
  font-size: 50px;
  padding: 50px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

/* --- CSS GRID MAPS UTAMA --- */
.map-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 0 50px 100px 50px;
}
.map-card {
  background: #1e2832;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.map-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.map-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}
.map-card:hover img {
  transform: scale(1.05);
}
.map-name {
  padding: 20px;
  font-size: 24px;
  text-align: center;
  background-color: #111;
  color: #ff4655;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* --- CSS HALAMAN DETAIL & PENJELASAN --- */
#map-detail {
  display: none;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
}
.btn-back {
  align-self: flex-start;
  background: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.btn-back:hover {
  background: #ff4655;
}
.detail-splash {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.detail-info {
  background: #1e2832;
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  text-align: left;
}
.detail-info h2 {
  font-size: 50px;
  color: #ff4655;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.info-item {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  color: #ece8e1;
}
.info-item span {
  font-family: "Arial Black", sans-serif;
  color: white;
}

/* --- CSS GALERI ASET GAMBAR --- */
.asset-title {
  margin-top: 50px;
  font-size: 30px;
  color: #ff4655;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.asset-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.asset-item {
  background: #111;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.asset-item img {
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}
.asset-name {
  font-size: 12px;
  color: #ccc;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}